<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<article>

<form #basicForm = "ngForm" (ngSubmit) = "getUserValue(basicForm.value)">

    <h1>Enter Following data</h1>

    <input type="text" name="username"  ngModel placeholder="enter your name"><br><br>

    <input type="text" name="age"  ngModel placeholder="enter your age"><br><br>

    <input type="text" name="address"  ngModel placeholder="enter your address"><br><br>

    <button>Get User Values</button>

</form>

</article>

</body>
</html>
